body{
  background-color: #85c9a8;
}

h1{
  text-align:center;
  color:#fff799;
}

#playlist {
  display: flex;
}

#Snames{
margin-right:100px;
   margin-top:15px;
}

#Sartists{
margin-right:100px;
   margin-top:15px;
}

#Simg img{
  height:100px;
  width:auto;
  margin-right:100px;
  display:block;
  margin-top:15px;
}

#playlist p{
  height:100px;
}

#Slengths{
margin-right:100px;
margin-top:15px;
}